@charset "UTF-8";
h1 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #fff100;
}

h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.top-botton{
	border:none;
	height:30px;
	width: 140px;
	color: #fff;
  background-color: #eb6100;
  margin:5px;
}

.top-botton:hover {
  color: #fff;
  background: #f56500;
}

.user-botton{
	border:none;
	height:30px;
	width: 100px;
	color: #fff;
  background-color: #eb6100;
}

.user-botton:hover {
  color: #fff;
  background: #f56500;
}

.error {
	color: red;
}

.player-botton{
	border:none;
	height:30px;
	width: 100px;
	color: #fff;
  background-color: #eb6100;
}

.player-botton:hover {
  color: #fff;
  background: #f56500;
}

.player-register-botton{
	margin:20px 5px 5px;
}

.players-back-botton{
	margin:5px;
}

.startingLineup-botton{
	border:none;
	height:30px;
	width: 100px;
	color: #fff;
  background-color: #eb6100;
}

.startingLineup-botton:hover {
	color: #fff;
	background: #f56500;
}