<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link th:href="@{/css/test.css}" rel="stylesheet">
</head>
<body>
<h1> プロ野球スターティングラインナップ </h1>
<p>ログイン</p>
	<!-- エラー内容を表示 -->
	<div class="error">
		<div th:each="errorMessage : ${errorMessages}">
		<p>○<th:block th:text="${errorMessage}"></th:block></p>
		</div>
	</div>

	<form method="post" action="/postLogin" th:object="${loginForm}">
		<label for="email">メールアドレス</label></br>
		<input type="email" name="email" th:value="${email}" /></br>
		
		<label for="password">パスワード</label></br>
		<input type="password" name="password" th:value="${password}" /></br>
		
		<input type="submit" value="ログイン" class="user-botton"/>
		
	</form>

	<form action="/">
		<input type="submit" value="戻る" class="user-botton" />
	</form>
</body>
</html>