<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>選手登録</title>
<link th:href="@{/css/test.css}" rel="stylesheet">
</head>
<body>
	<h1>プロ野球スターティングラインナップ</h1>
	
	<h2>選手登録</h2>
	<!--
	
	<div class="error">
		<div th:each="errorMessage : ${errorMessages}">
		<p>○<th:block th:text="${errorMessage}"></th:block></p>
		</div>
	</div>
-->
	<form th:method="post" action="/addPlayer" th:object="${playerModel}">

		<label for="name">選手名</label></br>
		<input type="text" name="name" th:value="${name}" /></br>
		
		<label for="throwingStrongArm">利き腕</label></br>
		<select name="throwingStrongArm" th:value="${throwingStrongArm}" required>
			<option value="" selected disabled>--</option>
			<option th:value="右">右投げ</option>
			<option th:value="左">左投げ</option>
			<option th:value="両">両投げ</option>
		</select></br>
		
		<label for="battingStrongArm">打席</label></br>
		<select name="battingStrongArm" th:value="${battingStrongArm}" required>
			<option value="" selected disabled>--</option>
			<option th:value="右">右打ち</option>
			<option th:value="左">左打ち</option>
			<option th:value="両">両打ち</option>
		</select></br>
		
		<label for="mainPosition">守備位置（メインポジション）</label></br>
		<select name="mainPosition" th:value="${mainPosition}" required>
			<option value="" selected disabled>--</option>
			<option th:value="先発投手">投手（先発）</option>
			<option th:value="中継ぎ投手">投手（中継ぎ）</option>
			<option th:value="抑え投手">投手（抑え）</option>
			<option th:value="捕手">捕手</option>
			<option th:value="一塁手">一塁手</option>
			<option th:value="二塁手">二塁手</option>
			<option th:value="三塁手">三塁手</option>
			<option th:value="遊撃手">遊撃手</option>
			<option th:value="左翼手">左翼手</option>
			<option th:value="中堅手">中堅手</option>
			<option th:value="右翼手">右翼手</option>
		</select></br>
		
		<label for="arraySubPosition">守備位置（サブポジション）*複数選択可</label></br>
		 <div th:each="position : ${subPositionCheckBox}"> 
		  <input type="checkbox" name="arraySubPosition" th:value="${position.key}"
			 th:text="${position.value}" th:field="*{arraySubPosition}" />
		</div>


		<div class="player-register-botton">
		<input type="submit" value="選手登録" class="player-botton" />
	</div>
	</form>
	
	<div class="players-back-botton">
		<form action="/">
			<input type="submit" value="トップへ戻る" class="player-botton" />
		</form>
	</div>
	
</body>
</html>