<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/test.css}" rel="stylesheet">
</head>
<body>
<h1> プロ野球スターティングラインナップ </h1>

<th:block th:if="${loginUser != null}">
	<p th:text="${loginUser.nickname} + さん、こんにちは！"></p>
</th:block>

<p>自分だけの理想のスタメンを作成しよう！！</p>
	
	<!-- 初期（ログインしてない時）表示ボタン -->
	<th:block th:if="${loginUser == null}">
		<!-- 新規作成ボタン -->
		<div class="new-user">
			<form action="/newUser">
				<input type="submit" value="新規作成" class="top-botton" />
			</form>
		</div>

		<!-- ログイン -->
		<div class="login">
			<form action="/login">
				<input type="submit" value="ログイン" class="top-botton" />
			</form>
		</div>
	</th:block>

	<!-- ログイン時表示ボタン -->
	<th:block th:if="${loginUser != null}">
		<!-- ユーザ編集ボタン -->
		<div class="edit-user">
			<form action="/editUser">
				<input type="submit" value="ユーザ編集" class="top-botton" />
			</form>
		</div>

		<!-- ログアウトボタン -->
		<div class="logout">
			<form action="/logout">
				<input type="submit" value="ログアウト" class="top-botton" />
			</form>
		</div>
		
		<!-- 選手登録ボタン -->
		<div class="player-register">
			<form action="/playerRegister">
				<input type="submit" value="選手登録" class="top-botton" />
			</form>
		</div>	
			
		<!-- スタメン作成ボタン -->
		<div class="newStartingLineup">
			<form action="/newStartingLineup">
				<input type="submit" value="スタメン作成" class="top-botton" />
			</form>
		</div>
		
		<!-- 登録選手表示ボタン -->
		<div class="player-display">
			<form action="/playerDisplay">
				<input type="submit" value="登録済選手一覧" class="top-botton" />
			</form>
		</div>	
	</th:block>
</body>
</html>