<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>プロ野球スタメンTOP</title>
<link th:href="@{/css/test.css}" rel="stylesheet">
<!-- JavaScriptファイルを読み込む -->
<script src="js/topScript.js"></script>
</head>
<body>
<h1> プロ野球スターティングラインナップ </h1>

<th:block th:if="${loginUser != null}">
	<p th:text="${loginUser.nickname} + さん、こんにちは！"></p>
</th:block>

<p>自分だけの理想のスタメンを作成しよう！！</p>
	
	<!-- 初期（ログインしてない時）表示ボタン -->
	<th:block th:if="${loginUser == null}">
		<!-- 新規作成ボタン -->
		<div class="new-user">
			<form action="/newUser">
				<input type="submit" value="新規作成" class="top-botton" />
			</form>
		</div>

		<!-- ログイン -->
		<div class="login">
			<form action="/login">
				<input type="submit" value="ログイン" class="top-botton" />
			</form>
		</div>
	</th:block>

	<!-- ログイン時表示ボタン -->
	<th:block th:if="${loginUser != null}">
		<!-- ユーザ編集ボタン -->
		<div class="edit-user">
			<form action="/editUser">
				<input type="submit" value="ユーザ編集" class="top-botton" />
			</form>
		</div>

		<!-- ログアウトボタン -->
		<div class="logout">
			<form action="/logout">
				<input type="submit" value="ログアウト" class="top-botton" />
			</form>
		</div>
		
		<!-- 選手登録ボタン -->
		<div class="player-register">
			<form action="/playerRegister">
				<input type="submit" value="選手登録" class="top-botton" />
			</form>
		</div>	
			
		<!-- スタメン作成ボタン -->
		<div class="newStartingLineup">
			<form action="/newStartingLineup">
				<input type="submit" value="スタメン作成" class="top-botton" />
			</form>
		</div>
		
		<!-- 登録選手表示ボタン -->
		<div class="player-display">
			<form action="/playerDisplay">
				<input type="submit" value="登録済選手一覧" class="top-botton" />
			</form>
		</div>	
	</th:block>

	<h2>投稿済スターティングオーダー</h2>
	
	<th:block th:each="StartingLineup : ${StartingLineups}">
		
		<th:block th:each="user : ${users}">
			<th:block th:if= "${StartingLineup.userId == user.id}">
				<p>投稿者：<th:block th:text="${user.nickname}"></th:block></p>
			</th:block>
		</th:block>
	
		<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
			
    			<th:block th:if= "${player.id == StartingLineup.onePlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.onePositionId}"> 
    					1番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			
      			<th:block th:if= "${player.id == StartingLineup.twoPlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.twoPositionId}"> 
    					2番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      			
      		</th:block>
      	</th:block>
      			
      		
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.threePlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.threePositionId}"> 
    					3番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.fourPlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.fourPositionId}"> 
    					4番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.fivePlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.fivePositionId}"> 
    					5番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.sixPlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.sixPositionId}"> 
    					6番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.sevenPlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.sevenPositionId}"> 
    					7番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.eightPlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.eightPositionId}"> 
    					8番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
			<th:block th:each="position : ${positions}">
      			<th:block th:if= "${player.id == StartingLineup.ninePlayerId}"> 
    				<th:block th:if="${position.id == StartingLineup.ninePositionId}"> 
    					9番：<th:block th:text="${player.name}"></th:block>
      						[<th:block th:text="${position.position}"></th:block>]</br>
      				</th:block>
      			</th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
      		<th:block th:if= "${player.id == StartingLineup.starterPitcherPlayerId}"> 
    			[先発]<th:block th:text="${player.name}"></th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
      		<th:block th:if= "${player.id == StartingLineup.setUpperPitcherPlayerId}"> 
    			/[中継ぎ]<th:block th:text="${player.name}"></th:block>
      		</th:block>
      	</th:block>
      	
      	<th:block th:each="player : ${players}">
      		<th:block th:if= "${player.id == StartingLineup.closerPitcherPlayerId}"> 
    			/[抑え]<th:block th:text="${player.name}"></th:block>
      		</th:block>
      	</th:block>
      	
      	<!-- いいねボタン -->
      	<div class="post">
   			 <button class="iineButton" th:attr="data-iine-id=${StartingLineup.id}">いいね</button>
    		<span class="iineCount" th:text="${iineMap[StartingLineup.id]}">0</span>
		</div>
      	
		<!-- コメント追加フォーム -->
		<h2>コメントを追加する</h2>
		<form id="commentForm" th:object="${commentModel}">
			<input type="hidden" id="StartingLineupId" name="StartingLineupId" th:value="${StartingLineup.id}" />
			<textarea id="commentText" name="text" rows="4" cols="50" placeholder="コメントを入力してください"></textarea><br>
			<button type="button" id="commentSubmit">コメントを投稿</button>
		</form>
	
		<!-- コメント表示部分 -->
		<h2>この投稿のコメント</h2>
		<div th:each="content : ${contents}" id="addContent">
			<h4 th:text="${content.text}"></h4>
		</div>
	</th:block>
</body>
</html>