<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/test.css}" rel="stylesheet">
</head>
<body>
<h1> プロ野球スターティングラインナップ </h1>
<p>自分だけの理想のスタメンを作成しよう！！</p>
	<!-- 新規作成ボタン -->
	<div class="new-user">
		<form action="/newUser">
			<input type="submit" value="新規作成" class="top-botton" />
		</form>
	</div>

	<!-- ログイン -->
	<div class="login">
		<form action="/login">
			<input type="submit" value="ログイン" class="top-botton" />
		</form>
	</div>

	<!-- ユーザ編集ボタン -->
	<div class="edit-user">
		<form action="/editUser">
			<input type="submit" value="ユーザ編集" class="top-botton" />
		</form>
	</div>
</body>
</html>